#kslider {
	border:4px solid #777;
	overflow:hidden;
	margin:0 auto;
}
#kslider div:nth-child(2) {
	border-top:2px solid #CCC;
	border-bottom:2px solid #CCC;
	width:720px;
	height:60px;
}
#kslider div:nth-child(2) img {
	opacity:0.7;
}