#kslider {
	box-shadow: 0px 0px 20px 6px #AAA;
	margin:40px;
}
#kslider .ksmall {
	background-color:#111;	
}
#kslider .ksmall img {
	background-color:#999;
	border:2px solid #EEE;
	padding:2px;
	margin:0 auto;
}

#kslider2 {
	box-shadow: 0px 0px 20px 6px #AAA;
	position:relative;
	margin:0 auto;	
}

#kslider3 {
	display:block;
}

